body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
/* MIX */
.list-inline {
  margin-bottom: 0;
}

.bg_grey {
  background-color: #fafafa;
}

.container__small {
  max-width: 800px;
  margin: auto;
}
/* /MIX */

/* TYPO */
h1 {
  font-size: 90px;
  font-weight: bold;
  color: #000;
}

h2, h3 {
  font-weight: bold;
}
/* /TYPO */

/* BUTTON */
.btn_custom {
  background-color: #000;
  border-radius: 0;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
}

.btn:hover {
  color: #fff;
}

.btn_mobile {
  background-color: transparent;
  font-size: 18px;
  padding: 5px;
}
/* /BUTTON */


/* header */
/* header top */
.header_top {
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo__img {
  height: 13px;
}

.main_nav, .secondary_nav {
  display: inline-block;
}

.secondary_nav {
  margin-left: 20px;
}

.main_nav li {
  margin-right: 30px;
}

.main_nav li a {
  text-transform: uppercase;
  color: #000;
  font-size: 11px;
  font-weight: 600;
}

.secondary_nav .language {
  background-color: transparent;
  border: none;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
}
/* /header top */

/* hero */
.hero {
  margin-top: 80px;
  padding: 70px;
}

.hero__img {
  width: 100%;
}
/* /hero */
/* /header */

/* main */
/* main product */
#main_products {
  padding: 30px 0;
}
.product {
  padding: 80px 20px 30px 20px;
  margin-bottom: 30px;
}

.product__logo {
  height: 22px;
}

.product__link {
  display: block;
}

.pl_chevron {
  font-size: 14px;
}

.product__img {
  max-height: 280px;
  width: auto;
}

.product__logo,
.product__link,
.product__img {
  margin-bottom: 25px;
}
/* /main product */

/* how does it work */
.banner {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: absolute;
}

.hdiw__box {
  display: inline-block;
  width: calc( (100% / 3) - 4px);
  position: relative;
}

.hdiw-center .hdiw__img {
  width: 100%;
  max-width: 250px;
}

.hdiw-center {
  left: calc( (100% / 3) - 4px);
  padding-bottom: 50px;
  height: 500px;
}

.hdiw__left {
  right: calc( (100% / 3) - 4px);
}

.hdiw__right, .hdiw__left {
  padding-bottom: 50px;
}

.hdiw-boxes {
  padding-top: 200px;
}

.hdiw__left, .hdiw__right {
  vertical-align: bottom;
}
/* /how does it work */

/* helbiz mosaico */
#helbiz-mosaico {
  margin-top: 50px;
}
/* carpisa */
.carpisa {
  padding: 10px;
}

.carpisa__logo {
  height: 20px;
}

.carpisa__title {
  font-size: 48px;
  margin-top: 30px;
}

.carpisa__link {
  color: inherit;
}

.carpisa_text {
  margin: 40px 0;
}

.carpisa__testo {
  padding: 60px 0;
}

.carpisa__img {
  max-width: 100%;
  height: auto;
}
/* /carpisa */

/* /helbiz mosaico */
/* /main */






/* RESPONSIVE */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 70px;
  }

  /* helbiz mosaico */
  /* carpisa */
  .carpisa__img {
    width: 100%;
    text-align: center;
  }
  /* /helbiz mosaico */
  /* /carpisa */
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  /* how does it work */
  .banner {
    width: 100%;
    background-position: left;
  }

  .hdiw-center {
    left: auto;
    margin: auto;
    min-width: 200px;
  }

  .hdiw__left {
    right: auto;
    margin: auto;
    padding-left: 20px;
  }

  .hdiw__box {
    display: block;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
  }

  .hdiw__right {
    margin: auto;
    padding-left: 20px;
  }
  /* /how does it work */
}
/* /RESPONSIVE */
