body {
  font-family: 'Open Sans', sans-serif;
}
/* MIX */
.list-inline {
  margin-bottom: 0;
}
/* /MIX */

/* TYPO */
h1 {
  font-size: 90px;
  font-weight: bold;
  color: #000;
}
/* /TYPO */

/* BUTTON */
.btn_custom {
  background-color: #000;
  border-radius: 0;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
}

.btn:hover {
  color: #fff;
}

.btn_mobile {
  background-color: transparent;
  font-size: 18px;
  padding: 5px;
}
/* /BUTTON */


/* header */
/* header top */
.header_top {
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.logo__img {
  height: 13px;
}

.main_nav, .secondary_nav {
  display: inline-block;
}

.secondary_nav {
  margin-left: 20px;
}

.main_nav li {
  margin-right: 30px;
}

.main_nav li a {
  text-transform: uppercase;
  color: #000;
  font-size: 11px;
  font-weight: 600;
}

.secondary_nav .language {
  background-color: transparent;
  border: none;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
}
/* /header top */

/* hero */
.hero {
  margin-top: 70px;
  padding: 40px;
}

.hero__img {
  width: 100%;
}
/* /hero */
/* /header */





/* RESPONSIVE */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 70px;
  }

  .hero {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .hero {
    margin-top: 30px;
  }
}
/* /RESPONSIVE */
